{{ 'about-us.css' | asset_url | stylesheet_tag }}

  <div class="main">
    <section class="big-banner">
      <figure class="big-banner__image-container m-0">
        <img
          src="{{ section.blocks[0].settings.image | image_url}}"
          alt="one banner"
          width="{{ section.blocks[0].settings.width }}"
          height="{{ section.blocks[0].settings.height }}">
      </figure>

      <div class="big-banner__text-container pl-134">
        <p class="big-banner__pretitle text-white text-size_2">{{ section.blocks[0].settings.pretitle }}</p>
        <h1 class="big-banner__title text-white">{{ section.blocks[0].settings.title }}</h1>
      </div>
    </section>

    <main class="right-banner">
      <div class="right-banner__title-container pl-134">
        <p class="right-banner__pretitle text-gray text-size_3_5">{{ section.blocks[1].settings.pretitle | upcase }}</p>
        <h2 class="right-banner__title text-white">{{ section.blocks[1].settings.title }}
          <span class="right-banner__span">{{ section.blocks[1].settings.span }}</span>
        </h2>
      </div>

      <p class="right-banner__one-p text-white text-size_2 pl-134 m-0">
        The inspiration for NobelCar came during a family road trip when we realized how much time we spend in our cars. Despite having a reliable vehicle, we noticed that the interior lacked the comfort and convenience we desired for our long journeys.
      </p>

      <p class="right-banner__two-p text-white text-size_2 pl-134 m-0">
        This sparked an idea: what if we could transform car interiors to feel like a second home? We began researching and testing various accessories, from seat covers to vacuum cleaners, aiming to enhance the driving experience.
      </p>

      <p class="right-banner__three-p text-white text-size_2 pl-134 m-0">
        After months of hard work and dedication, NobelCar was born, with a mission to make every car ride a comfortable and enjoyable adventure.
      </p>

      <figure class="right-banner__image-container m-0">
        <img
          src="{{ section.blocks[1].settings.two_image | image_url }}"
          alt="Two Section Image"
          class="two_image"
          width="{{ section.blocks[1].settings.width }}"
          height="{{ section.blocks[1].settings.height }}">
      </figure>
    </main>

    <section class="left-banner pl-134">
      <figure class="left-banner__image-container m-0">
        <img
          src="{{ section.blocks[2].settings.image | image_url }}"
          alt="Three Section Image"
          class="left-image"
          width="{{ section.blocks[2].settings.width }}"
          height="{{ section.blocks[2].settings.height }}">
      </figure>

      <div class="left-banner__text-container">
        <p class="left-banner__pretitle text-gray text-size_2">{{ section.blocks[2].settings.pretitle | upcase }}</p>
        <h2 class="left-banner__title text-white">{{ section.blocks[2].settings.title }}
          <span class="left-banner__span">{{ section.blocks[2].settings.span }}</span>
        </h2>
        <p class="left-banner__text text-white text-size_2">Our mission at NobelCar is to transform your car into a maximally comfortable space for your entire family, including your beloved pets.</p>

        <p class="left-banner__text text-white">With our high-quality accessories designed for both everyday use and travel, we aim to enhance your driving experience and make every journey enjoyable for everyone on board.</p>
      </div>
    </section>

    <section class="footer-banner m-0">
      <figure class="footer-section__image-container m-0">
        <img
          src="{{ section.blocks[3].settings.image | image_url}}"
          alt="footer banner"
          width="{{ section.blocks[3].settings.width }}"
          height="{{ section.blocks[3].settings.height }}">
      </figure>

      <p class="footer-banner__text-container text-white m-0">
        <span>Subscribe</span> for Exclusive Deals and New Arrivals and <span>get a 10% discount</span> on your next purchase!
      </p>
    </section>
  </div>

{% schema %}
  {
    "name": "ABOUT US",
    "blocks": [
      {
        "type": "big-banner",
        "name": "Big banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Main Banner Image"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width section big banner",
            "default": "100%"
          },
          {
            "type": "text",
            "id": "height",
            "label": "Height section big banner",
            "default": "auto"
          },
          {
            "type": "text",
            "id": "pretitle",
            "label": "Pretitle"
          }, {
            "type": "text",
            "id": "title",
            "label": "Banner main Title",
            "default": "Your car is not just a means of transportation"
          }
        ]
      }, {
        "type": "right-banner",
        "name": "Right banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "two_image",
            "label": "Two image"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width section",
            "default": "100%"
          },
          {
            "type": "text",
            "id": "height",
            "label": "Height section",
            "default": "auto%"
          },
          {
            "type": "text",
            "id": "pretitle",
            "label": "right section pre title"
          }, {
            "type": "text",
            "id": "span",
            "label": "right section span title"
          }, {
            "type": "text",
            "id": "title",
            "label": "right section title"
          }
        ]
      }, {
        "type": "left-banner",
        "name": "Left banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "left image"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width section",
            "default": "100%"
          },
          {
            "type": "text",
            "id": "height",
            "label": "Height section",
            "default": "auto%"
          },
          {
            "type": "text",
            "id": "pretitle",
            "label": "pretitle"
          }, {
            "type": "text",
            "id": "title",
            "label": "title"
          }, {
            "type": "text",
            "id": "span",
            "label": "span"
          }, {
            "type": "text",
            "id": "text",
            "label": "text paragraph"
          }
        ]
      }, {
        "type": "footer-baner",
        "name": "Footer banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Footer image"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width section",
            "default": "100%"
          },
          {
            "type": "text",
            "id": "height",
            "label": "Height section",
            "default": "auto%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "ABOUT US",
        "category": "Custom Sections",
        "blocks": [
          {
            "type": "big-banner"
          }, {
            "type": "right-banner"
          }, {
            "type": "left-banner"
          }, {
            "type": "footer-baner"
          }
        ]
      }
    ]
  }
{% endschema %}