{{ 'about-us.css' | asset_url | stylesheet_tag }}

<div class="body-page">
  <section class="main-section">
    <div class="main-setion__text-container">
      <small class="main-section__pretitle text-white">{{ section.blocks[0].settings.pretitle }}</small>
      <h1 class="main-section__title text-white">{{ section.blocks[0].settings.title }}</h1>
    </div>

    <div class="main-section__image-container">
      <img
        src="{{ section.blocks[0].settings.image_main | image_url: width: 300 }}"
        alt="main banner"
        srcset="
          {{ section.blocks[0].settings.image_main | image_url: width: 300 }} 300w,
          {{ section.blocks[0].settings.image_main | image_url: width: 600 }} 600w,
          {{ section.blocks[0].settings.image_main | image_url: width: 1200 }} 1200w
        "
        sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 100vw"
        width="100%"
        height="auto">
    </div>

    <div class="main-baner-text-container">
      <span class="span-title text-color">{{ section.settings.span-title }}</span>
      <h1 class="title-h1 text-color">{{ section.settings.title }}</h1>
    </div>
  </section>

  <section class="two-section">
      <div class="two-section__title-container">
        <small class="two-section__pretitle text-gray">{{ section.blocks[1].settings.two-section__pretitle }}</small>
        <h2 class="two-section__title text-white">{{ section.blocks[1].settings.two-section__title }}
          <span>NobelCar</span>
        </h2>
      </div>

    <p class="two-text__one-p text-white text-size_20">
        The inspiration for NobelCar came during a family road trip when we realized how much time we spend in our cars. Despite having a reliable vehicle, we noticed that the interior lacked the comfort and convenience we desired for our long journeys.
      </p>

      <p class="two-text__two-p text-white text-size_20">
        This sparked an idea: what if we could transform car interiors to feel like a second home? We began researching and testing various accessories, from seat covers to vacuum cleaners, aiming to enhance the driving experience.
      </p>

      <p class="two-text__three-p text-white text-size_20">
        After months of hard work and dedication, NobelCar was born, with a mission to make every car ride a comfortable and enjoyable adventure.
      </p>

    <div class="two-section__image-container">
      <img
        src="{{ section.blocks[1].settings.two_image | image_url }}"
        alt="Two Section Image"
        class="two_image"
        width="{{ section.blocks[1].settings.width }}"
        height="{{ section.blocks[1].settings.height }}">
    </div>
  </section>

</div>

{% schema %}
  {
    "name": "ABOUT US",
    "blocks": [
      {
        "type": "main-section",
        "name": "One section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_main",
            "label": "Main Banner Image"
          },
          {
            "type": "text",
            "id": "one_width",
            "label": "Width one section",
            "default": "100"
          },
          {
            "type": "text",
            "id": "one_height",
            "label": "Height one section",
            "default": "auto"
          },
          {
            "type": "text",
            "id": "pretitle",
            "label": "Pretitle"
          }, {
            "type": "text",
            "id": "title",
            "label": "Banner main Title",
            "default": "Elevate Your Drive in Comfort and Style"
          }, {
            "type": "text",
            "id": "width",
            "label": "Image Width",
            "default": "100%"
          }, {
            "type": "text",
            "id": "height",
            "label": "Image Height",
            "default": "auto"
          }
        ]
      }, {
        "type": "two-section",
        "name": "Two section",
        "settings": [
          {
            "type": "image_picker",
            "id": "two_image",
            "label": "Two image"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width one section",
            "default": "100%"
          },
          {
            "type": "text",
            "id": "height",
            "label": "Height one section",
            "default": "auto%"
          },
          {
            "type": "text",
            "id": "two-section__pretitle",
            "label": "two section pre title"
          }, {
            "type": "text",
            "id": "two-section__title",
            "label": "two section title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "ABOUT US",
        "category": "Custom Sections",
        "blocks": [
          {
            "type": "main-section"
          }, {
            "type": "two-section"
          }
        ]
      }
    ]
  }
{% endschema %}